@import "../scss/main.scss";

#myAccount {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1010;
  width: 100vw;
  height: 100vh;

  .curtain {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
  }

  .menu {
    background: $primary;
    width: 50vw;
    height: 100%;
    padding: 2em;
    position: absolute;
    right: 0;
    z-index: 10;
    top: 0;

    &.launch {
      animation: rocketFly 1s 1;
      animation-fill-mode: forwards;
    }

    .closer {
      width: 40px;
      height: 40px;
      position: relative;
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;

      &>span {
        width: 100%;
        height: 2px;
        background: #fff;
        display: block;
        transform: rotate(45deg);
        position: relative;
        pointer-events: none;
        transition: all 300ms ease;

        &:before {
          content: "";
          width: 100%;
          height: 2px;
          background: #fff;
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          transform: rotate(90deg);
          transition: all 300ms ease;
        }
      }

      &:hover {
        &>span {
          transform: rotate(35deg);

          &:before {
            transform: rotate(110deg);
          }
        }
      }
    }

    .grid {
      display: grid;
      grid-template-columns: calc(2em + 20px) 1fr;
      height: 100%;

      .account {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .content {
          width: 100%;
          display: block;
          max-width: 550px;
          margin: 0 auto;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h2 {
            text-align: center;
            margin: 0 0 40px;
          }

          img {
            display: block;
            margin: 0 auto 20px;
          }
        }

        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;

          .controllers {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            input {
              display: flex;
              flex: 2 2;
              padding: 5px 40px;
              text-align: center;
              cursor: pointer;
              background: $primaryHot;
              color: #fff;
              border: none;
              font-weight: 600;
              font-family: inherit;
              margin-top: 30px;
              justify-content: center;
              align-items: center;

              &.create {
                background: none $i;
                border: solid 1px $primaryHot $i;
                flex: 1 1;
              }

              &:not(.create) {
                margin-right: 10px;
              }
            }
          }

          &>div {
            width: 100%;

            input {
              width: 100%;
              display: block;
              margin-bottom: 10px;

              i {
                color: $primary;
              }
            }
          }

          input {
            height: 40px;
            border-radius: 60px;
          }

          .error {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .folder {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -100vh);
    transition: all 800ms ease;
    transition-delay: 1s;
    display: block;
    background: #ffffff;
    width: 1440px;
    height: 90vh;
    z-index: 20;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 6px 6px 0 0;
    overflow: hidden;

    &.show {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%);
    }

    h3 {
      color: $color;
      font-size: 1.4em;
    }

    .header {
      display: flex;
      width: 100%;
      background: #ecf0f2;
      height: 40px;
      padding: 0 0 0 20px;
      justify-content: flex-start;
      align-items: center;

      span {
        display: inline-block;
        width: 13px;
        height: 13px;
        background: #fff;
        border-radius: 60px;
        margin-right: 20px;

        &:first-child {
          background: $primary;
          filter: brightness(1);
          transition: all 200ms ease;
          cursor: pointer;

          &:hover {
            filter: brightness(1.5);
          }
        }
      }
    }

    .body {
      display: grid;
      grid-template-columns: 15% 1fr;
      height: 100%;

      &>.column {
        &:first-child {
          padding: 2em;
          background: #f7f9fa;
          border-right: solid 2px #ecf0f2;

          h3 {
            color: $primary;
          }

          ul {
            padding: 0;
            margin: 20px 0;

            li {
              display: block;
              line-height: 1.2em;
              padding-bottom: 10px;
              margin-bottom: 10px;
              font-weight: 600;
              color: $color;

              a {
                color: inherit;
                filter: brightness(0.8);
                transition: all 300ms ease;

                &:hover {
                  filter: brightness(1.3);
                }
              }

              &:first-child {
                color: $primary;
              }
            }
          }
        }

        &:last-child {
          .topbar {
            display: flex;
            width: 100%;
            padding: 1em;
            justify-content: space-between;
            align-items: center;

            h3 {
              margin: 0;
            }

            .button {
              background: $primary $i;
              border-radius: 0 60px 60px 0;
            }

            input[type="text"] {
              border-radius: 15px 0 0 15px;

              &:focus {
                border-color: $primary;
              }
            }
          }

          .contain-table {
            padding: 0 1em 0;
            display: grid;
            grid-template-columns: 80% 1fr;
            margin-top: 20px;
            height: 680px;
            overflow: auto;

            .checkbox {

              input:checked~label {
                &:before {
                  background-color: $primary $i;
                }
              }
            }

            table {
              // max-height: 680px;
              // overflow: auto;
              // display: block;

              figure {
                display: flex;
                width: 100px;
                height: 100px;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                margin: 0 auto;

                img {
                  width: 100%;
                  height: auto;
                }
              }
            }

            .sidebar {
              padding: 0 0 1em 1em;
              color: $color;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;

              p {
                font-size: 80%;
                font-weight: 300;
                margin: 0;
              }

              ul {
                margin: 0;
                padding: 0;
                position: relative;
                display: block;
                width: 100%;
                text-align: center;

                &:before {
                  content: "";
                  width: 50%;
                  height: 1px;
                  background: #dee4e8;
                  display: block;
                  margin: 10px auto;
                }

                li {
                  display: block;

                  span {
                    color: $primary;
                    cursor: pointer;
                  }
                }
              }

              a {
                display: block;
                padding: 10px 0;
                background: $primary;
                color: #fff;
                text-align: center;
                border-radius: 40px;
                margin: 5px 0;
                width: 100%;
              }


            }
          }
        }
      }
    }
  }
}

@keyframes rocketFly {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-20%, 0);
  }

  70% {
    transform: translate(100vw, 0);
  }

  100% {
    transform: translate(100vw, 0);
    opacity: 0;
  }
}